#!/bin/sh -e

export DEBIAN_FRONTEND="dialog" # other options: readline, gnome, kde, dialog

# Source debconf library
. /usr/share/debconf/confmodule

CHANNELS=
SERIAL=

#db_reset hwserial/channels
db_input critical hwserial/channels || true
db_go

db_get hwserial/channels
CHANNELS=$RET
echo "Entered channels: $CHANNELS"

# get value first to see if we even need to ask, if its already set, dont ask
db_get hwserial/serialno
SERIAL=$RET
while [ -z $SERIAL ]; do
    # reset the value since we need to ask again
    db_reset hwserial/serialno
    db_input critical hwserial/serialno || true
    db_go

    db_get hwserial/serialno
    SERIAL=$RET
    echo "Entered serial number: $SERIAL"
done

